<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   {% load static %}
   <meta charset="utf-8">
   <title>Log in</title>
   <link rel="stylesheet" href="{% static "registration/login.css" %}">
 </head>

 <body>
   <header id="login">

     <form method="POST" class="loginbox">
       <div class="box">
       {% csrf_token %}
       <h3>Login</h3>
       {{ form.username }}
       {{ form.password }}
       <h1>
         {{ form.non_field_errors }}
       </h1>
       <div class="button">
         <input type="submit" value="SIGN IN">
       </div>
       <div class="links">
         <a href="/users/signup/">I DON'T HAVE AN ACCOUNT</a>
         <a href="#">FORGOT MY PASSWORD</a>
       </div>
       </div>
     </form>

   </header>
 </body>
</html>
